*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.quizNav{
    background-color: rgb(5, 97, 172);
    padding:10px 0;
    top: 0;
}

.quizNavItems a{
    text-decoration: none;
    color:#fff;
    font-size:18px;
    font-weight: 600;
}
.quizQues{
    font-size:18px;
}
.quizLabel{
    font-size:17px;
}
.quesWrapper, .quizInfo{
    position: relative;
}
.que1{
    top:-15px;
    position: absolute;
    background-color: rgb(51, 46, 46);
    color:#fff;
    padding:5px 10px;
    border-radius:5px;
}
textarea{
    resize: none;
}
.quizFooter{
    background-color: rgba(39, 37, 37, 0.897);
    color:#fff;
    font-size:18px;
}
.quizFooter a{
    color:#fff;
}

